<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title><%= htmlWebpackPlugin.options.name %></title>
</head>
<body>
<div id="page">
    <vue><!-- Vue here --></vue>
</div>
<script type="text/javascript" src="./js/<%= htmlWebpackPlugin.options.vuejs %>"></script>
<script type="text/javascript" src="./js/fastclick.min.js"></script>
<script>


FastClick.prototype.focus = function(targetElement) {
  var length;
  var u = navigator.userAgent;
  var deviceIsIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
  // Issue #160: on iOS 7, some input elements (e.g. date datetime month) throw a vague TypeError on setSelectionRange. These elements don't have an integer value for the selectionStart and selectionEnd properties, but unfortunately that can't be used for detection because accessing the properties also throws a TypeError. Just check the type instead. Filed as Apple bug #15122724.
  if (
    deviceIsIOS &&
    targetElement.setSelectionRange &&
    targetElement.type.indexOf("date") !== 0 &&
    targetElement.type !== "time" &&
    targetElement.type !== "month"
  ) {
    length = targetElement.value.length;
    targetElement.focus();
    targetElement.setSelectionRange(length, length);
  } else {
    targetElement.focus();
  }
};

</script>
</body>
</html>

<script type="text/javascript">
    var page

    // Apicloud initialize
    apiready = function () {
      Vue.prototype.$ac = api // Vue global apicloud API
      page = new Vue({
        el: '#page',
        components: {'vue': <%= htmlWebpackPlugin.options.name %>Vue},
        mounted: function () {
          FastClick.attach(document.body);
          // Origami.fastclick(document.body) // You must use fastclick on the mobile
        }
      })
    }

    // Browser initialize
    setTimeout(function () {
      if (page === undefined) {
        page = new Vue({
          el: '#page',
          components: {'vue': <%= htmlWebpackPlugin.options.name %>Vue},
          mounted: function () {
            FastClick.attach(document.body);
            // Origami.fastclick(document.body) // You must use fastclick on the mobile
          }
        })
      }
    }, 500)
</script>

